/* You can add global styles to this file, and also import other style files */
body {
    background: #ececec;
}

.header {
    height: 10%;
}

.body {
    height: 90vh;
}

.footer-container {
    height: 8vh;
}